/* #region Variblen*/
:root {
  --hintergrund: #1e1e2e;
  --btn-akzent: #e8294a;
  --btn-hover: #c0235a;
  --box: #2a2a3e;
  --titel-farbe: #7b8ba5;
  --titel-schriftart: "Rajdhani", sans-serif;
  --text-farbe: #e8eaf0;
  --text-schriftart: "Inter", sans-serif;
}

/* #endregion */

/* #region Html Tags*/
body {
  background-color: var(--hintergrund);
  color: var(--text-farbe);
  font-family: var(--text-schriftart);

  /*Standardabstände vom Browser entfernen*/
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  font-family: var(--titel-schriftart);
  color: var(--titel-farbe);
  padding: 10px;
  border-bottom: 2px solid var(--btn-akzent);
  background-color: var(--text-farbe);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  max-width: 600px;
  margin: 0 auto;
}

input,
textarea {
  border: 1px solid var(--titel-farbe);
  background-color: var(--box);
  color: var(--text-farbe);
  padding: 10px;
  border-radius: 5px;
}

button {
  background-color: var(--btn-akzent);
  color: var(--text-farbe);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--btn-hover);
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  white-space: pre-line; /*Damit \n nicht vom Browser ignoriert wird*/
  background-color: var(--box);
  padding: 10px;
  border-radius: 5px;
  border-left: 4px solid var(--btn-akzent);
}

select {
  display: block;
  margin: 0 auto;
  background-color: var(--box);
  color: var(--text-farbe);
  border: 1px solid var(--titel-farbe);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
/* #endregion*/

/*Id*/
#BoxSpiele {
  max-width: 600px;
  margin: 20px auto;
}

#sucheFuerNutzer {
  max-width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
